		.maindiv{
			height:600px;
			width:400px;
			background-color:blue;
		}
		.sub1{
			height:200px;
			width:400px;
			background-color:red; float: left;
		}
		.sub2{
			height:200px;
			width: 400px;
			background-color:yellow; float: right;
		}
		.sub3{
			height: 200px;
			width: 400px;
			background-color:orange; 


		}
		.maindiv1{
			height: 600px;
			width: 400px;
			background-color: black;
			text-align: center;
		}
		.sub4{
			height: 300px;
			width: 200px;
			background-color: brown;
		}
		.sub5{
			height: 300px;
			width: 200px;
			background-color: pink;
		}